@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");
@import url(../font/Helvetica-Font/Helvetica-Bold.ttf);
* {
  font-family: "Helvatica", sans-serif;
  scroll-behavior: smooth;
  color: #fff;
}

body {
  background-color: black;
  /*  padding: 10px; */
}

h4 {
  margin: 30px;
}

#navbarCollapse {
  justify-content: space-between;
  margin-left: 20rem;
}

#brand {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

#brand-logo {
  display: flex;
  gap: 15px;
}

#brandMod {
  color: #e67e08;
}

.carousel-title {
  text-align: center;
  color: #e67e08;
}

.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat scroll center scroll;
  background-size: cover;
}

.w-100 {
  width: 50% !important;
  height: 80vh !important;
  margin: auto !important;
}

.slider-btn {
  gap: 40px;
}
.slider-btn .btn {
  background-color: #e67e08;
  margin-left: 20px;
}
.slider-btn .btn-outline-primary:hover {
  color: #e67e08 !important;
  border-color: #e67e08 !important;
}

@media (max-width: 768px) {
  .w-100 {
    width: 100% !important;
    height: 80vh !important;
    margin: auto !important;
  }

  #navbarCollapse {
    justify-content: space-between;
    margin-left: 0px;
    text-align: center;
  }
}
.card-body {
  background-color: #343a40;
}

.card {
  border: #343a40;
  border-top: 5px;
}

@media (max-width: 768px) {
  /*  */
}
.display-3 {
  color: #e67e08;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 35px;
  margin: auto;
  width: 60%;
  background-color: #343a40;
}

#submit-btn {
  width: 30%;
}

@media (max-width: 768px) {
  .contact-container {
    width: 80%;
    padding: 10px;
  }

  #submit-btn {
    width: 100%;
  }
}
#login-container1 {
  margin-top: 100px;
  background-color: #343a40;
  padding: 30px;
  width: 30%;
}

#login-container2 {
  margin-top: 100px;
  background-color: #343a40;
  padding: 30px;
  width: 30%;
}

#login-image {
  width: 100%;
}

.link-light {
  font-size: 12px !important;
}

.link-light:hover {
  color: #dc3545 !important;
}

.register-container {
  width: 80% !important;
}

#register-form {
  background-color: #343a40 !important;
  padding: 30px;
}

@media (max-width: 768px) {
  #login-container {
    flex-direction: column;
    margin: auto;
    align-items: center;
  }

  #submit-btn {
    width: 100px;
  }

  #login-container2 {
    margin-top: 0;
  }

  #login-container1 {
    margin-top: 50px;
    background-color: #343a40;
    padding: 30px;
    width: 60%;
  }

  #login-container2 {
    background-color: #343a40;
    padding: 30px;
    width: 60%;
  }
}
@media (max-width: 480px) {
  #login-container1 {
    margin-top: 50px;
    background-color: #343a40;
    padding: 30px;
    width: 90%;
  }

  #login-container2 {
    background-color: #343a40;
    padding: 30px;
    width: 90%;
  }
}
.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  color: #ffffff !important;
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

#profil-menu {
  margin-right: 30px;
}

.container-category {
  margin-top: 20px;
  padding: 10px;
  width: 200px;
  height: 90vh;
  background-color: #343a40;
}

.bg-gey {
  background-color: #343a40;
}

#post-container {
  width: 80%;
  margin-top: 20px;
}

#panel-container {
  width: 20%;
  margin-top: 20px;
}

.text-black {
  color: black;
}

#menu-post {
  font-size: large;
  font-weight: 800;
  letter-spacing: 4px;
  background-color: #343a4000;
  border: none;
}

/*# sourceMappingURL=main.css.map */
